@*
 * This template takes a two arguments, a String containing a
 * message to display and an AssetsFinder to locate static assets.
 *@

@(form: Form[UserInformation], postUrl: Call)(implicit assetsFinder: AssetsFinder, request: MessagesRequestHeader)


@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main {

    @welcome("Time Tracking System", style = "scala")

    @userForm(form, postUrl)

}
