@(nickname: String, style: String = "scala")(implicit assetsFinder: AssetsFinder)

@main {

    @defining(play.core.PlayVersion.current) { version =>

        <section id="top">
            <div class="wrapper">
                <h1><a href="/">Time Tracking System</a></h1>
            </div>
        </section>

        <div id="content" class="wrapper doc">
            <article>
                <h1>Hi, <b> @nickname </b>!</h1>

                <div id="subjects" class="subject-list">
                    <p>Subject 1</p>
                    <p>Subject 2</p>
                </div>
            </article>
        </div>
    }
}