@(message: String, style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
    <h1><a href="/">Time Tracking System</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

  <h1>Welcome to Time Tracking System application</h1>

  <h2>What is this application about?</h2>

  <p>
    This application tracks your activity on a particular subject and accumulates the amount of time you have spent on it.
    You can see what type of activity you are doing the most!
  </p>

  <h2>How to use it?</h2>

    <p>
        Basically, you have to do the following steps:
    </p>

    <p>
        1. Create a subject (or choose one that you've already created before). For instance, let's name it "Programming in Scala".
    </p>

    <p>
        2. Every time you start coding/watching a lecture/reading an article about Scala, you need to click on the "Start
        session" button. You'll see that the timer has been started.
    </p>

    <p>
        3. After you've finished your activity, click on the "End session" button. The timer stops and the time you've spent
        on this session will be added to the subject "Programming in Scala".
    </p>

    <p>
        4. You can look at your overall statistics. Just press "Show statistics" button.
    </p>

    <h2>You have to be authorized in the system so that you can use this application.</h2>

    @userForm(form, call)
</article>

</div>
}
